@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Public Sans';
}

body{
    margin: 0;
    padding: 0;
    height: 1000vh;
}

@media only screen and (max-width: 320px) {
    /*Small mobile devices*/
    body{
        height: 670vh;
    }
    /*Navbar Section Begins*/
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        background-color: white;
        border: solid whitesmoke 1px;
        width: 100%;
        padding: 2vh;
        z-index: 1;
    }

    .logo{
        margin: .5rem;
    }

    .nav-links{
        display: none;
        width: 100%;
    }

    .nav-links>ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li{
        list-style: none;
        text-align: center;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: .5rem 1rem;
        display: block;
    }

    .nav-links.active{
        display: flex;
    }

    .nav-links li:hover{

        border-bottom: solid hsl(192, 70%, 51%);

    }

    .toggle-button{
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .register{
        display: none;
    }
    /*Navbar Section Ends*/

     /*Hero Section Starts*/

     #hero{
        display: flex;
        flex-direction: column-reverse;
        background-color: hsl(0, 0%, 98%);
        align-items: center;

        background-image: url(./easybank-landing-page-master/images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: 145vw;
        margin-top: 0;
        
        background-position: 40% -135%;

    }

    .hero-text-container{
        padding-left: 14%;
        width: 100%;
    }

    .hero-header{
        font-size: 10vw;
        width: 90%;
        font-weight: 300;
        margin-top: 1%;
        height: fit-content;
        text-align: center;
    }

    .hero-text{
        width: 90%;
        text-align: left;
        font-size: 5.5vw;
        height: 12%;
        line-height: 1.5em;
        color: hsl(233, 8%, 62%);
        text-align: center;
    }

    .hero-img{
        width: 70vw;
        display: flex;
        justify-content: center;
        margin-top: -14%;
        z-index: 0;
    }

    .hero-btn{
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 45px;
        width: 45vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
        margin-top: 1.3%;
        font-size: 4.5vw;
        text-align: center;
        margin-left: 19%;
        margin-bottom: 15%;
    }


    /*Hero Section Ends*/

    /*Easybank info Section Starts*/

    #Easybank-info{
        margin: 0;
        height: 110vh;
        

    }

    .Easybank-info-container{
        border: solid hsl(220, 16%, 96%) ;
        height: 250vh;
        background-color: hsl(220, 16%, 96%);
    
        
    }

    .Easybank-info-header{
        font-weight: 300;
        font-size: 10vw;
        margin-top: 18%;
        margin-left: 4%;
        text-align: center;

    }

    .Easybank-info-header-text{
        font-weight: 400;
        font-size: 4.5vw;
        line-height: 1.8em;
        color: hsl(233, 8%, 62%);
        height: 8%;
        width: 84%;
        margin-left: 9%;
        text-align: center;
    }

    .Easybank-info-component-container{
        display: flex;
        margin: 5px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        
    }

    .Easybank-info-component{
        height: 50vh;
        width: 95%;
    }

    .Easybank-info-component-icon{
        height: 25%;
        padding-left: 38%;
        text-align: center;
    }

    .Easybank-info-component-header{
        font-weight: 300;
        font-size: 8vw;
        padding-left: 5px;
        text-align: center;
    }

    .Easybank-info-component-text{
        font-weight: 400;
        color: hsl(233, 8%, 62%);
        font-size: 4.5vw;
        line-height: 1.8em;
        padding: 5px;
        text-align: center;

    }


    /*Easybank info Section Ends*/

    /*Latest Articles Section Starts*/

    #latest-article-section{
        background-color: hsl(0, 0%, 98%);
        height: 265vh;
        width: 100%;
        margin-top: 130vh;
    }

    .latest-article-container{
        border: solid hsl(0, 0%, 98%);
        width: 100%;
        height: 265vh;
    }

    .latest-article-header{
        font-weight: 300;
        font-size: 7vw;
        margin-top: 4%;
        width: 100%;
        text-align: center;
        
        
    }

    .article-component-container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .article-component{
        height: 60vh;
        width: 80%;
        margin-bottom: 5%;
    }

    .article-img{
        width: 100%;
        height: 35vh;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .article-text-container{
        padding-left: 6%;
        margin-top: -4px;
        background-color: white;
        height: 40vw;
        border: solid white; 
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        
    }

    .article-author{
        font-size: 2.5vw;
        color: hsl(233, 8%, 62%);
        font-weight: 300;
        margin-top: 4%;
        line-height: 1.5em;
        

    }

    .article-title{
        font-weight: 400;
        margin-top: -2px;
        font-size: 4.2vw;
        width: 95%;

    }

    .article-content{
        font-size: 3vw;
        width: 90%;
        color: hsl(233, 8%, 62%);
        line-height: 1.5em;


    }
    /*Latest Articles Section Ends*/

    /*Footer Section Starts*/

    #footer-section{
        background-color: hsl(233, 26%, 24%);
        font-weight: 300;
        padding-right: 5vw;
        
    }
    .footer{
        height: 80vh;
        color: white;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 4vh;
    }

    .footer-logo-container{

    }

    .footer-logo{
        height: vh;
        margin-bottom: 3vh;
        margin-top: 5.5vh;
        margin-left: 10.5vw;
        border: solid;
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        

    }

    .footer-logo>svg{
        color: white;
    }
    .footer-social-container{
        display: flex;
        padding: 9px;
        justify-content: center;
        margin-left: 5.5vw;
        width: 100%;
        
    }
    .facebook{
        padding: 3px;
    }
    .youtube{
        padding: 3px;

    }
    .twitter{
        padding: 3px;

    }
    .pinterest{
        padding: 3px;

    }
    .instagram{
        padding: 3px;

    }

    .footer-links{
        width: 100%;
        text-align: center;
    }

    .foot-links-1{
    }

    .footer-links li{
        list-style-type: none;
        margin-top: 1.5vh;
        width: 100%;
    }
    .footer-links a{
        color: white;
        text-decoration: none;

    }
    .footer-btn-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .footer-btn{
        margin-bottom: 2vh;
        margin-top: 1vw;
        margin-left: 9.5vw;
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 40px;
        width: 45vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
      
    }
    .footer-copyright{
        color: hsl(233, 8%, 62%);
        text-align: center;
        margin-left: 4vw;
    }
    /*Footer Section Ends*/
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    /*Medium mobile devices*/
    body{
        height: 685vh;
    }
    /*Navbar Section Begins*/
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        background-color: white;
        border: solid whitesmoke 1px;
        width: 100%;
        padding: 2vh;
        z-index: 1;
    }

    .logo{
        margin: .5rem;
    }

    .nav-links{
        display: none;
        width: 100%;
    }

    .nav-links>ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li{
        list-style: none;
        text-align: center;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: .5rem 1rem;
        display: block;
    }

    .nav-links.active{
        display: flex;
    }

    .nav-links li:hover{

        border-bottom: solid hsl(192, 70%, 51%);

    }

    .toggle-button{
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .register{
        display: none;
    }
    /*Navbar Section Ends*/

    /*Hero Section Starts*/

    #hero{
        display: flex;
        flex-direction: column-reverse;
        background-color: hsl(0, 0%, 98%);
        align-items: center;

        background-image: url(./easybank-landing-page-master/images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: 145vw;
        margin-top: 0;
        
        background-position: 40% -135%;

    }

    .hero-text-container{
        padding-left: 14%;
        width: 100%;
    }

    .hero-header{
        font-size: 9.5vw;
        width: 90%;
        font-weight: 300;
        margin-top: 1%;
        height: fit-content;
        text-align: center;
    }

    .hero-text{
        width: 90%;
        text-align: left;
        font-size: 4.7vw;
        height: 12%;
        line-height: 1.5em;
        color: hsl(233, 8%, 62%);
        text-align: center;
    }

    .hero-img{
        width: 70vw;
        display: flex;
        justify-content: center;
        margin-top: -18%;
        z-index: 0;
    }

    .hero-btn{
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 45px;
        width: 45vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
        margin-top: 1.3%;
        font-size: 4.5vw;
        text-align: center;
        margin-left: 19%;
        margin-bottom: 15%;
    }


    /*Hero Section Ends*/

    /*Easybank info Section Starts*/

    #Easybank-info{
        margin: 0;
        height: 110vh;
        

    }

    .Easybank-info-container{
        border: solid hsl(220, 16%, 96%) ;
        height: 250vh;
        background-color: hsl(220, 16%, 96%);
    
        
    }

    .Easybank-info-header{
        font-weight: 300;
        font-size: 9vw;
        margin-top: 18%;
        margin-left: 4%;
        text-align: center;

    }

    .Easybank-info-header-text{
        font-weight: 400;
        font-size: 4vw;
        line-height: 1.8em;
        color: hsl(233, 8%, 62%);
        height: 8%;
        width: 84%;
        margin-left: 9%;
        text-align: center;
    }

    .Easybank-info-component-container{
        display: flex;
        margin: 5px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        
    }

    .Easybank-info-component{
        height: 50vh;
        width: 95%;
    }

    .Easybank-info-component-icon{
        height: 25%;
        padding-left: 38%;
        text-align: center;
    }

    .Easybank-info-component-header{
        font-weight: 300;
        font-size: 6vw;
        padding-left: 5px;
        text-align: center;
    }

    .Easybank-info-component-text{
        font-weight: 400;
        color: hsl(233, 8%, 62%);
        font-size: 4vw;
        line-height: 1.8em;
        padding: 5px;
        text-align: center;

    }


    /*Easybank info Section Ends*/

    /*Latest Articles Section Starts*/

    #latest-article-section{
        background-color: hsl(0, 0%, 98%);
        height: 270vh;
        width: 100%;
        margin-top: 130vh;
    }

    .latest-article-container{
        border: solid hsl(0, 0%, 98%);
        width: 100%;
        height: 270vh;
    }

    .latest-article-header{
        font-weight: 300;
        font-size: 7vw;
        margin-top: 4%;
        width: 100%;
        text-align: center;
        
        
    }

    .article-component-container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .article-component{
        height: 60vh;
        width: 80%;
        margin-bottom: 10%;
    }

    .article-img{
        width: 100%;
        height: 35vh;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .article-text-container{
        padding-left: 6%;
        margin-top: -4px;
        background-color: white;
        height: 40vw;
        border: solid white; 
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        
    }

    .article-author{
        font-size: 2.5vw;
        color: hsl(233, 8%, 62%);
        font-weight: 300;
        margin-top: 4%;
        line-height: 1.5em;
        

    }

    .article-title{
        font-weight: 400;
        margin-top: -2px;
        font-size: 4.2vw;
        width: 95%;

    }

    .article-content{
        font-size: 3vw;
        width: 90%;
        color: hsl(233, 8%, 62%);
        line-height: 1.5em;


    }
    /*Latest Articles Section Ends*/

    /*Footer Section Starts*/

    #footer-section{
        background-color: hsl(233, 26%, 24%);
        font-weight: 300;
        padding-right: 5vw;

        
    }
    .footer{
        height: 80vh;
        color: white;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 4vh;
    }

    .footer-logo-container{

    }

    .footer-logo{
        height: vh;
        margin-bottom: 3vh;
        margin-top: 4.5vh;
        margin-left: 7.5vw;
        border: solid;
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        

    }

    .footer-logo>svg{
        color: white;
    }
    .footer-social-container{
        display: flex;
        padding: 9px;
        justify-content: center;
        margin-left: 4.5vw;
        width: 100%;
        
    }
    .facebook{
        padding: 3px;
    }
    .youtube{
        padding: 3px;

    }
    .twitter{
        padding: 3px;

    }
    .pinterest{
        padding: 3px;

    }
    .instagram{
        padding: 3px;

    }

    .footer-links{
        width: 100%;
        text-align: center;
    }

    .foot-links-1{
    }

    .footer-links li{
        list-style-type: none;
        margin-top: 1.5vh;
        width: 100%;
    }
    .footer-links a{
        color: white;
        text-decoration: none;

    }
    .footer-btn-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .footer-btn{
        margin-bottom: 2vh;
        margin-top: 1vw;
        margin-left: 8.5vw;
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 40px;
        width: 40vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
      
    }
    .footer-copyright{
        color: hsl(233, 8%, 62%);
        text-align: center;
        margin-left: 3vw;
    }
    /*Footer Section Ends*/
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    /*Large mobile devices*/
    body{
        height: 725vh;
    }
    /*Navbar Section Begins*/
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        background-color: white;
        border: solid whitesmoke 1px;
        width: 100%;
        padding: 2vh;
        z-index: 1;
    }

    .logo{
        margin: .5rem;
    }

    .nav-links{
        display: none;
        width: 100%;
    }

    .nav-links>ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li{
        list-style: none;
        text-align: center;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: .5rem 1rem;
        display: block;
    }

    .nav-links.active{
        display: flex;
    }

    .nav-links li:hover{

        border-bottom: solid hsl(192, 70%, 51%);

    }

    .toggle-button{
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .register{
        display: none;
    }
    /*Navbar Section Ends*/

    /*Hero Section Starts*/

    #hero{
        display: flex;
        flex-direction: column-reverse;
        background-color: hsl(0, 0%, 98%);
        align-items: center;

        background-image: url(./easybank-landing-page-master/images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: 145vw;
        margin-top: 0;
        
        background-position: 40% -135%;

    }

    .hero-text-container{
        padding-left: 14%;
        width: 100%;
    }

    .hero-header{
        font-size: 9.4vw;
        width: 90%;
        font-weight: 300;
        margin-top: 1%;
        height: fit-content;
        text-align: center;
    }

    .hero-text{
        width: 90%;
        text-align: left;
        font-size: 4.7vw;
        height: 12%;
        line-height: 1.5em;
        color: hsl(233, 8%, 62%);
        text-align: center;
    }

    .hero-img{
        width: 70vw;
        display: flex;
        justify-content: center;
        margin-top: -20%;
        z-index: 0;
    }

    .hero-btn{
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 45px;
        width: 45vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
        margin-top: 1.3%;
        font-size: 4.5vw;
        text-align: center;
        margin-left: 19%;
        margin-bottom: 15%;
    }


    /*Hero Section Ends*/

    /*Easybank info Section Starts*/

    #Easybank-info{
        margin: 0;
        height: 110vh;
        

    }

    .Easybank-info-container{
        border: solid hsl(220, 16%, 96%) ;
        height: 240vh;
        background-color: hsl(220, 16%, 96%);
    
        
    }

    .Easybank-info-header{
        font-weight: 300;
        font-size: 9vw;
        margin-top: 18%;
        margin-left: 4%;
        text-align: center;

    }

    .Easybank-info-header-text{
        font-weight: 400;
        font-size: 3.6vw;
        line-height: 1.8em;
        color: hsl(233, 8%, 62%);
        height: 6%;
        width: 80%;
        margin-left: 12%;
        text-align: center;
    }

    .Easybank-info-component-container{
        display: flex;
        margin: 5px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        
    }

    .Easybank-info-component{
        height: 50vh;
        width: 80%;
    }

    .Easybank-info-component-icon{
        height: 25%;
        padding-left: 38%;
        text-align: center;
    }

    .Easybank-info-component-header{
        font-weight: 400;
        font-size: 5vw;
        padding-left: 5px;
        text-align: center;
    }

    .Easybank-info-component-text{
        font-weight: 400;
        color: hsl(233, 8%, 62%);
        font-size: 3.6vw;
        line-height: 1.8em;
        padding: 5px;
        text-align: center;

    }


    /*Easybank info Section Ends*/

    /*Latest Articles Section Starts*/

    #latest-article-section{
        background-color: hsl(0, 0%, 98%);
        height: 300vh;
        width: 100%;
        margin-top: 130vh;
    }

    .latest-article-container{
        border: solid hsl(0, 0%, 98%);
        width: 100%;
        height: 300vh;
    }

    .latest-article-header{
        font-weight: 300;
        font-size: 7vw;
        margin-top: 4%;
        width: 100%;
        text-align: center;
        
        
    }

    .article-component-container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .article-component{
        height: 60vh;
        width: 80%;
        margin-bottom: 20%;
    }

    .article-img{
        width: 100%;
        height: 35vh;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .article-text-container{
        padding-left: 6%;
        margin-top: -4px;
        background-color: white;
        height: 40vw;
        border: solid white; 
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        
    }

    .article-author{
        font-size: 2.5vw;
        color: hsl(233, 8%, 62%);
        font-weight: 300;
        margin-top: 4%;
        line-height: 1.5em;
        

    }

    .article-title{
        font-weight: 400;
        margin-top: -2px;
        font-size: 4.2vw;
        width: 95%;

    }

    .article-content{
        font-size: 3vw;
        width: 90%;
        color: hsl(233, 8%, 62%);
        line-height: 1.5em;


    }
    /*Latest Articles Section Ends*/

    /*Footer Section Starts*/

    #footer-section{
        background-color: hsl(233, 26%, 24%);
        font-weight: 300;
        padding-right: 2.5vw;

        
    }
    .footer{
        height: 80vh;
        color: white;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 4vh;
    }

    .footer-logo-container{

    }

    .footer-logo{
        height: vh;
        margin-bottom: 3vh;
        margin-top: 4.5vh;
        margin-left: 6.5vw;
        border: solid;
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        

    }

    .footer-logo>svg{
        color: white;
    }
    .footer-social-container{
        display: flex;
        padding: 9px;
        justify-content: center;
        margin-left: 3.5vw;
        width: 100%;
        
    }
    .facebook{
        padding: 3px;
    }
    .youtube{
        padding: 3px;

    }
    .twitter{
        padding: 3px;

    }
    .pinterest{
        padding: 3px;

    }
    .instagram{
        padding: 3px;

    }

    .footer-links{
        width: 100%;
        text-align: center;
    }

    .foot-links-1{
    }

    .footer-links li{
        list-style-type: none;
        margin-top: 1.5vh;
        width: 100%;
    }
    .footer-links a{
        color: white;
        text-decoration: none;

    }
    .footer-btn-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-btn{
        margin-bottom: 2vh;
        margin-top: 1vw;
        margin-left: 6.5vw;
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 40px;
        width: 40vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
      
    }
    .footer-copyright{
        color: hsl(233, 8%, 62%);
        text-align: center;
        margin-left: 2vw;
    }
    /*Footer Section Ends*/

    
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    /*Tablet devices*/
    body{
        height: 923vh;
    }
    /*Navbar Section Begins*/
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        background-color: white;
        border: solid whitesmoke 1px;
        width: 100%;
        padding: 2vh;
        z-index: 1;
    }

    .logo{
        margin: .5rem;
        margin-top: 1rem;
    }

    .nav-links{
        display: none;
        width: 100%;
    }

    .nav-links>ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li{
        list-style: none;
        text-align: center;
        
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: 1rem 1rem;
        display: block;
    }

    .nav-links.active{
        display: flex;
        background-color: white;
        
    }

    .nav-links li:hover{

        border-bottom: solid hsl(192, 70%, 51%);
        

    }

    .burger-icon{
        margin-top: 1rem;
    }

    .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .register{
        display: none;
    }
    /*Navbar Section Ends*/
    /*Hero Section Starts*/

    #hero{
        display: flex;
        flex-direction: column-reverse;
        background-color: hsl(0, 0%, 98%);
        align-items: center;

        background-image: url(./easybank-landing-page-master/images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: 150vw;
        margin-top: 0;
        
        background-position: 38% -430%;

    }

    .hero-text-container{
        padding-left: 14%;
        width: 100%;
    }

    .hero-header{
        font-size: 9.2vw;
        width: 90%;
        font-weight: 300;
        margin-top: 1%;
        height: fit-content;
        text-align: center;
    }

    .hero-text{
        width: 90%;
        text-align: left;
        font-size: 3.5vw;
        height: 12%;
        line-height: 1.5em;
        color: hsl(233, 8%, 62%);
        text-align: center;
    }

    .hero-img{
        width: 70vw;
        display: flex;
        justify-content: center;
        margin-top: -31%;
        z-index: 0;
    }

    .hero-btn{
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 45px;
        width: 25vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
        margin-top: 1%;
        font-size: 2.5vw;
        text-align: center;
        margin-left: 30%;
        margin-bottom: 15%;
    }


    /*Hero Section Ends*/

    /*Easybank info Section Starts*/

    #Easybank-info{
        margin: 0;
        height: 110vh;
        

    }

    .Easybank-info-container{
        border: solid hsl(220, 16%, 96%) ;
        height: 320vh;
        background-color: hsl(220, 16%, 96%);
    
        
    }

    .Easybank-info-header{
        font-weight: 400;
        font-size: 6vw;
        margin-top: 8%;
        text-align: center;

    }

    .Easybank-info-header-text{
        font-weight: 400;
        font-size: 3.5vw;
        line-height: 1.5em;
        color: hsl(233, 8%, 62%);
        height: 12%;
        width: 80%;
        margin-left: 12%;
        text-align: center;
    }

    .Easybank-info-component-container{
        display: flex;
        margin: 5px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        
    }

    .Easybank-info-component{
        height: 60vh;
        width: 80%;
    }

    .Easybank-info-component-icon{
        height: 25%;
        padding-left: 40%;
        text-align: center;
    }

    .Easybank-info-component-header{
        font-weight: 400;
        font-size: 5vw;
        padding-left: 5px;
        text-align: center;
    }

    .Easybank-info-component-text{
        font-weight: 400;
        color: hsl(233, 8%, 62%);
        font-size: 3.5vw;
        line-height: 1.5em;
        padding: 5px;
        text-align: center;

    }


    /*Easybank info Section Ends*/

    /*Latest Articles Section Starts*/

    #latest-article-section{
        background-color: hsl(0, 0%, 98%);
        height: 380vh;
        width: 100%;
        margin-top: 200vh;
    }

    .latest-article-container{
        border: solid hsl(0, 0%, 98%);
        width: 100%;
        height: 360vh;
    }

    .latest-article-header{
        font-weight: 300;
        font-size: 7vw;
        margin-top: 4%;
        width: 100%;
        text-align: center;
        
        
    }

    .article-component-container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .article-component{
        height: 60vh;
        width: 80%;
        margin-bottom: 25%;
    }

    .article-img{
        width: 100%;
        height: 35vh;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .article-text-container{
        padding-left: 6%;
        margin-top: -4px;
        background-color: white;
        height: 40vw;
        border: solid white; 
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        
    }

    .article-author{
        font-size: 2.5vw;
        color: hsl(233, 8%, 62%);
        font-weight: 300;
        margin-top: 4%;
        line-height: 1.5em;
        

    }

    .article-title{
        font-weight: 400;
        margin-top: -2px;
        font-size: 4.2vw;
        width: 95%;

    }

    .article-content{
        font-size: 3vw;
        width: 90%;
        color: hsl(233, 8%, 62%);
        line-height: 1.5em;


    }
    /*Latest Articles Section Ends*/

     /*Footer Section Starts*/

     #footer-section{
        background-color: hsl(233, 26%, 24%);
        font-weight: 300;
        padding-right: 1.5vw;

        
    }
    .footer{
        height: 80vh;
        color: white;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 4vh;
    }

    .footer-logo-container{

    }

    .footer-logo{
        height: vh;
        margin-bottom: 3vh;
        margin-top: 4.5vh;
        margin-left: 3.4vw;
        border: solid;
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        

    }

    .footer-logo>svg{
        color: white;
    }
    .footer-social-container{
        display: flex;
        padding: 9px;
        justify-content: center;
        margin-left: 3.5vw;
        width: 100%;
        
    }
    .facebook{
        padding: 3px;
    }
    .youtube{
        padding: 3px;

    }
    .twitter{
        padding: 3px;

    }
    .pinterest{
        padding: 3px;

    }
    .instagram{
        padding: 3px;

    }

    .footer-links{
        width: 100%;
        text-align: center;
    }

    .foot-links-1{
    }

    .footer-links li{
        list-style-type: none;
        margin-top: 1.5vh;
        width: 100%;
    }
    .footer-links a{
        color: white;
        text-decoration: none;

    }
    .footer-btn-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-btn{
        margin-bottom: 2vh;
        margin-top: 1vw;
        margin-left: 3.5vw;
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 40px;
        width: 24vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
      
    }
    .footer-copyright{
        color: hsl(233, 8%, 62%);
        text-align: center;
        margin-left: 1.5vw;
    }
    /*Footer Section Ends*/

    


}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /*Laptop devices*/

    body{
        height: 270vh;
    }
    /*Navbar Section Begins*/
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        position: fixed;
        background-color: white;
        border: solid whitesmoke 1px;
        width: 100%;
        height: 8vh;
        z-index: 1;
    }

    .logo{
        margin: .5rem;

    }

    .nav-links>ul{
        margin: 0;
        padding: 0;
        display: flex;
    }

    .nav-links li{
        list-style: none;
        font-size: 1.5vw;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: 1rem;
        display: block;
    }

    .nav-links li:hover{

        border-bottom: solid hsl(192, 70%, 51%);

    }

    .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .register{
        background-color: hsl(136, 65%, 51%);
        border: solid hsl(136, 65%, 51%) 1px;
        border-radius: 25px;
        color: white;
        height: 35px;
        width: 15vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
    }
    /*Navbar Section Ends*/

    /*Hero Section Begins*/

    #hero{
        display: flex;
        flex-direction: row;
        background-color: hsl(0, 0%, 98%);
        height: 80vh;
        background-image: url(./easybank-landing-page-master/images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: 70vw;
        margin-top: 0;
        
        background-position: 155% -35%;
        
        
    }

    .hero-text-container{
        padding-left: 5%;
        width: 70%;
       
    }

    .hero-img-container{
    }

    .hero-header{
        font-size: 3.5vw;
        width: 65%;
        font-weight: 400;
        margin-top: 25%;
        height: fit-content;

    }

    .hero-text{
        width: 67%;
        text-align: left;
        font-size: 1.3vw;
        height: 12%;
        line-height: 1.5em;
        color: hsl(233, 8%, 62%);

    }

    .hero-btn{
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 40px;
        width: 15vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
        margin-top: 2%;
    }

    .hero-img{
        position: sticky;
        z-index: 0;
        margin-top: -3%;
        margin-left: 5%;
        width: 45vw;

    }
    /*Hero Section Ends*/

    /*Easybank info Section Starts*/

    #Easybank-info{
        margin: 0;
        height: 110vh;
        

    }

    .Easybank-info-container{
        border: solid hsl(220, 16%, 96%) ;
        height: 80vh;
        background-color: hsl(220, 16%, 96%);
        
    }

    .Easybank-info-header{
        font-weight: 400;
        font-size: 2.8vw;
        margin-top: 8%;
        margin-left: 4%;

    }

    .Easybank-info-header-text{
        font-weight: 400;
        font-size: 1.3vw;
        line-height: 1.5em;
        color: hsl(233, 8%, 62%);
        height: 12%;
        width: 50%;
        margin-left: 4%;
    }

    .Easybank-info-component-container{
        display: flex;
        margin: 5px;
        justify-content: space-evenly;
        
    }

    .Easybank-info-component{
        height: 50vh;
        width: 20%;
    }

    .Easybank-info-component-icon{
        height: 25%;
        padding-left: 5px;
    }

    .Easybank-info-component-header{
        font-weight: 500;
        font-size: 2vw;
        padding-left: 5px;
    }

    .Easybank-info-component-text{
        font-weight: 400;
        color: hsl(233, 8%, 62%);
        font-size: 1.3vw;
        line-height: 1.5em;
        padding: 5px;

    }


    /*Easybank info Section Ends*/

     /*Latest Articles Section Starts*/

     #latest-article-section{
        background-color: hsl(0, 0%, 98%);
        height: 85vh;
        margin-top: -30vh;
        width: 100%;
    }

    .latest-article-container{
        border: solid hsl(0, 0%, 98%);
        width: 100%;
        height: 85vh;
    }

    .latest-article-header{
        font-weight: 400;
        font-size: 2.8vw;
        margin-top: 4%;
        margin-left: 6%;
        width: 100%;
        
    }

    .article-component-container{
        display: flex;
        justify-content: space-evenly;
    }

    .article-component{
        height: 50vh;
        width: 19%;
    }

    .article-img{
        width: 100%;
        height: 25vh;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .article-text-container{
        padding-left: 6%;
        margin-top: -4px;
        background-color: white;
        height: 32vh;
        border: solid white; 

        
    }

    .article-author{
        font-size: .8vw;
        color: hsl(233, 8%, 62%);
        font-weight: 300;
        margin-top: 8%;
        

    }

    .article-title{
        font-weight: 400;
        margin-top: -2px;
    }

    .article-content{
        font-size: 1vw;
        width: 90%;
        color: hsl(233, 8%, 62%);

    }
    /*Latest Articles Section Ends*/

     /*Footer Section Starts*/

     #footer-section{
        background-color: hsl(233, 26%, 24%);
        font-weight: 300;
        
    }
    .footer{
        height: 30vh;
        color: white;
    }

    .footer-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 4vh;
    }

    .footer-logo-container{

    }

    .footer-logo{
        height: vh;
        margin-bottom: 4vh;
        margin-top: 3.5vh;


        
        border: solid;
        background-color: white;
        border-radius: 10px;
        padding: 5px;

    }

    .footer-logo>svg{
        color: white;
    }
    .footer-social-container{
        display: flex;
        padding: 9px;
        justify-content: space-evenly;
        margin-right: ;
    }
    .facebook{
        padding: 3px;
    }
    .youtube{
        padding: 3px;

    }
    .twitter{
        padding: 3px;

    }
    .pinterest{
        padding: 3px;

    }
    .instagram{
        padding: 3px;

    }

    .footer-links{
        display: flex;
        width: 30%;
    }

    .foot-links-1{
        margin-right: 15%;
        margin-left: -10%;
    }

    .footer-links li{
        list-style-type: none;
        margin-top: 1.5vh;
        width: 100%;
    }
    .footer-links a{
        color: white;
        text-decoration: none;

    }
    .footer-btn-container
    .footer-btn{
        margin-bottom: 2vh;
        margin-top: 1vw;
        margin-left: 7vw;
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 35px;
        width: 16vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
      
    }
    .footer-copyright{
        color: hsl(233, 8%, 62%);
    }
    /*Footer Section Ends*/
}

@media only screen and (min-width: 1025px) {
    /*Large Laptops devices*/

    body{
        height: 295vh;
    }

    /*Navbar Section Begins*/

    #nav-section{
        height: 8vh; /*keeps navbar positioned above hero page*/
        z-index: 1;
    }

    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        position: fixed;
        background-color: white;
        border: solid whitesmoke 1px;
        width: 100%;
        height: 8vh;
        z-index: 1;
    }

    .logo{
        margin: .5rem;

    }

    .nav-links>ul{
        margin: 0;
        padding: 0;
        display: flex;
    }

    .nav-links li{
        list-style: none;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: 1rem;
        display: block;
    }

    .nav-links li:hover{

        border-bottom: solid hsl(192, 70%, 51%);

    }

    .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .register{
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 35px;
        width: 150%;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
    }
    
    /*Navbar Section Ends*/

    /*Hero Section Begins*/

    #hero{
        display: flex;
        flex-direction: row;
        background-color: hsl(0, 0%, 98%);
        height: 80vh;
        background-image: url(./easybank-landing-page-master/images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: 70vw;
        margin-top: 0;
        background-position: 165% 75%;

        
    }

    .hero-text-container{
        padding-left: 5%;
        width: 70%;
       
    }

    .hero-img-container{
    }

    .hero-header{
        font-size: 3.5vw;
        width: 65%;
        font-weight: 400;
        margin-top: 25%;
        height: fit-content;

    }

    .hero-text{
        width: 67%;
        text-align: left;
        font-size: 1.3vw;
        height: 12%;
        line-height: 1.5em;
        color: hsl(233, 8%, 62%);

    }

    .hero-btn{
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 40px;
        width: 12vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
        margin-top: 2%;
    }

    .hero-img{
        position: sticky;
        z-index: 0;
        margin-top: -15%;
        margin-left: 15%;
        width: 45vw;

    }
    /*Hero Section Ends*/
    /*Easybank info Section Starts*/

    #Easybank-info{
        margin: 0;
        height: 110vh;
        

    }

    .Easybank-info-container{
        border: solid hsl(220, 16%, 96%) ;
        height: 95vh;
        background-color: hsl(220, 16%, 96%);
        
    }

    .Easybank-info-header{
        font-weight: 400;
        font-size: 2.8vw;
        margin-top: 8%;
        margin-left: 4%;

    }

    .Easybank-info-header-text{
        font-weight: 400;
        font-size: 1.3vw;
        line-height: 1.5em;
        color: hsl(233, 8%, 62%);
        height: 12%;
        width: 50%;
        margin-left: 4%;
    }

    .Easybank-info-component-container{
        display: flex;
        margin: 5px;
        justify-content: space-evenly;
        
    }

    .Easybank-info-component{
        height: 50vh;
        width: 20%;
    }

    .Easybank-info-component-icon{
        height: 25%;
        padding-left: 5px;
    }

    .Easybank-info-component-header{
        font-weight: 500;
        font-size: 2vw;
        padding-left: 5px;
    }

    .Easybank-info-component-text{
        font-weight: 400;
        color: hsl(233, 8%, 62%);
        font-size: 1.3vw;
        line-height: 1.5em;
        padding: 5px;

    }


    /*Easybank info Section Ends*/

    /*Latest Articles Section Starts*/

    #latest-article-section{
        background-color: hsl(0, 0%, 98%);
        height: 85vh;
        margin-top: -15vh;
        width: 100%;
    }

    .latest-article-container{
        border: solid hsl(0, 0%, 98%);
        width: 100%;
        height: 85vh;
    }

    .latest-article-header{
        font-weight: 400;
        font-size: 2.8vw;
        margin-top: 4%;
        margin-left: 6%;
        width: 100%;
        
    }

    .article-component-container{
        display: flex;
        justify-content: space-evenly;
    }

    .article-component{
        height: 50vh;
        width: 19%;
    }

    .article-img{
        width: 100%;
        height: 25vh;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .article-text-container{
        padding-left: 6%;
        margin-top: -4px;
        background-color: white;
        height: 32vh;
        border: solid white; 

        
    }

    .article-author{
        font-size: .8vw;
        color: hsl(233, 8%, 62%);
        font-weight: 300;
        margin-top: 8%;
        

    }

    .article-title{
        font-weight: 400;
        margin-top: -2px;
    }

    .article-content{
        font-size: 1vw;
        width: 90%;
        color: hsl(233, 8%, 62%);

    }
    /*Latest Articles Section Ends*/

    /*Footer Section Starts*/

    #footer-section{
        background-color: hsl(233, 26%, 24%);
        font-weight: 300;
        
    }
    .footer{
        height: 30vh;
        color: white;
    }

    .footer-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 4vh;
    }

    .footer-logo-container{

    }

    .footer-logo{
        height: vh;
        margin-bottom: 5vh;
        margin-top: 3.5vh;

        border: solid;
        background-color: white;
        border-radius: 10px;
        padding: 5px;

    }

    .footer-logo>svg{
        color: white;
    }
    .footer-social-container{
        display: flex;
        padding: 9px;
        justify-content: space-evenly;
        margin-right: ;
    }
    .facebook{
        padding: 3px;
    }
    .youtube{
        padding: 3px;

    }
    .twitter{
        padding: 3px;

    }
    .pinterest{
        padding: 3px;

    }
    .instagram{
        padding: 3px;

    }

    .footer-links{
        display: flex;
        width: 30%;
    }

    .foot-links-1{
        margin-right: 15%;
        margin-left: -10%;
    }

    .footer-links li{
        list-style-type: none;
        margin-top: 1.5vh;
        width: 100%;
    }
    .footer-links a{
        color: white;
        text-decoration: none;

    }
    .footer-btn-container
    .footer-btn{
        margin-bottom: 2vh;
        margin-top: 1vw;
        margin-left: 6vw;
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 35px;
        width: 9vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
      
    }
    .footer-copyright{
        color: hsl(233, 8%, 62%);
    }
    /*Footer Section Ends*/



}