@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Public Sans';
}

body{
    margin: 0;
    padding: 0;
    height: 1000vh;
}

@media only screen and (max-width: 320px) {
    /*Small mobile devices*/
    /*Navbar Section Begins*/
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo{
        margin: .5rem;
    }

    .nav-links{
        display: none;
        width: 100%;
    }

    .nav-links>ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li{
        list-style: none;
        text-align: center;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: .5rem 1rem;
        display: block;
    }

    .nav-links.active{
        display: flex;
    }

    .nav-links li:hover{

        border-bottom: solid hsl(192, 70%, 51%);

    }

    .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .register{
        display: none;
    }
    /*Navbar Section Ends*/
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    /*Medium mobile devices*/
    /*Navbar Section Begins*/
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo{
        margin: .5rem;
    }

    .nav-links{
        display: none;
        width: 100%;
    }

    .nav-links>ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li{
        list-style: none;
        text-align: center;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: .5rem 1rem;
        display: block;
    }

    .nav-links.active{
        display: flex;
    }

    .nav-links li:hover{

        border-bottom: solid hsl(192, 70%, 51%);

    }

    .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .register{
        display: none;
    }
    /*Navbar Section Ends*/
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    /*Large mobile devices*/
    /*Navbar Section Begins*/
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo{
        margin: .5rem;
    }

    .nav-links{
        display: none;
        width: 100%;
    }

    .nav-links>ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li{
        list-style: none;
        text-align: center;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: .5rem 1rem;
        display: block;
    }

    .nav-links.active{
        display: flex;
    }

    .nav-links li:hover{

        border-bottom: solid hsl(192, 70%, 51%);

    }

    .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .register{
        display: none;
    }
    /*Navbar Section Ends*/
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    /*Tablet devices*/
    /*Navbar Section Begins*/
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        background-color: white;
        border: solid whitesmoke 1px;
        width: 100%;
        padding: 2vh;
        z-index: 1;
    }

    .logo{
        margin: .5rem;
        margin-top: 1rem;
    }

    .nav-links{
        display: none;
        width: 100%;
    }

    .nav-links>ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li{
        list-style: none;
        text-align: center;
        
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: 1rem 1rem;
        display: block;
    }

    .nav-links.active{
        display: flex;
        background-color: white;
        
    }

    .nav-links li:hover{

        border-bottom: solid hsl(192, 70%, 51%);
        

    }

    .burger-icon{
        margin-top: 1rem;
    }

    .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .register{
        display: none;
    }
    /*Navbar Section Ends*/
    /*Hero Section Starts*/

    #hero{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background-color: hsl(0, 0%, 98%);

    }

    .hero-text-container{

    }

    .hero-header{

    }

    .hero-text{

    }

    .hero-img{
        width: 90vw;
        display: flex;
        justify-content: center;
    }


    /*Hero Section Ends*/


}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /*Laptop devices*/
    /*Navbar Section Begins*/
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        position: fixed;
        background-color: white;
        border: solid whitesmoke 1px;
        width: 100%;
        height: 8vh;
        z-index: 1;
    }

    .logo{
        margin: .5rem;

    }

    .nav-links>ul{
        margin: 0;
        padding: 0;
        display: flex;
    }

    .nav-links li{
        list-style: none;
        font-size: 1.5vw;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: 1rem;
        display: block;
    }

    .nav-links li:hover{

        border-bottom: solid hsl(192, 70%, 51%);

    }

    .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .register{
        background-color: hsl(136, 65%, 51%);
        border: solid hsl(136, 65%, 51%) 1px;
        border-radius: 25px;
        color: white;
        height: 35px;
        width: 15vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
    }
    /*Navbar Section Ends*/

    /*Hero Section Begins*/

    #hero{
        display: flex;
        flex-direction: row;
        background-color: hsl(0, 0%, 98%);
        height: 80vh;
        background-image: url(./easybank-landing-page-master/images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: 70vw;
        margin-top: 0;
        
        background-position: 155% -35%;
        
        
    }

    .hero-text-container{
        padding-left: 5%;
        width: 70%;
       
    }

    .hero-img-container{
    }

    .hero-header{
        font-size: 3.5vw;
        width: 65%;
        font-weight: 400;
        margin-top: 25%;
        height: fit-content;

    }

    .hero-text{
        width: 67%;
        text-align: left;
        font-size: 1.3vw;
        height: 12%;
        line-height: 1.5em;
        color: hsl(233, 8%, 62%);

    }

    .hero-btn{
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 40px;
        width: 15vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
        margin-top: 2%;
    }

    .hero-img{
        position: sticky;
        z-index: 0;
        margin-top: -3%;
        margin-left: 5%;
        width: 45vw;

    }
    /*Hero Section Ends*/
}

@media only screen and (min-width: 1025px) {
    /*Large Laptops devices*/

    /*Navbar Section Begins*/

    #nav-section{
        height: 8vh; /*keeps navbar positioned above hero page*/
        z-index: 1;
    }

    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        position: fixed;
        background-color: white;
        border: solid whitesmoke 1px;
        width: 100%;
        height: 8vh;
        z-index: 1;
    }

    .logo{
        margin: .5rem;

    }

    .nav-links>ul{
        margin: 0;
        padding: 0;
        display: flex;
    }

    .nav-links li{
        list-style: none;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        padding: 1rem;
        display: block;
    }

    .nav-links li:hover{

        border-bottom: solid hsl(192, 70%, 51%);

    }

    .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .register{
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 35px;
        width: 150%;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
    }
    
    /*Navbar Section Ends*/

    /*Hero Section Begins*/

    #hero{
        display: flex;
        flex-direction: row;
        background-color: hsl(0, 0%, 98%);
        height: 80vh;
        background-image: url(./easybank-landing-page-master/images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: 70vw;
        margin-top: 0;
        background-position: 165% 75%;

        
    }

    .hero-text-container{
        padding-left: 5%;
        width: 70%;
       
    }

    .hero-img-container{
    }

    .hero-header{
        font-size: 3.5vw;
        width: 65%;
        font-weight: 400;
        margin-top: 25%;
        height: fit-content;

    }

    .hero-text{
        width: 67%;
        text-align: left;
        font-size: 1.3vw;
        height: 12%;
        line-height: 1.5em;
        color: hsl(233, 8%, 62%);

    }

    .hero-btn{
        background-color: hsl(136, 65%, 51%);
        border: none;
        border-radius: 25px;
        color: white;
        height: 40px;
        width: 12vw;
        font-weight: 600;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
        margin-top: 2%;
    }

    .hero-img{
        position: sticky;
        z-index: 0;
        margin-top: -15%;
        margin-left: 15%;
        width: 45vw;

    }
    /*Hero Section Ends*/

}